#main-text{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    padding: 50px;
    color: whitesmoke;
    

}

body{
    background-color: black;
}

#imagebox img{
    width: 100%; height: 100%;
    margin-left: 100;
}

#text{
    width: 50%;
    margin-left: 25%;
}

#bottomtext{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    padding: 50px;
    color: whitesmoke;
    

}

